@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240,253,244);
}
.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8adac
}
.swiper-paginatin-progressbar .swiper-paginatin-progressbar-fill{
    background:#a8adac !important;
}

